body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    border: none;
}
